.containerMenu {
}
.cards-receitas {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 15px;
  justify-content: center;
}

.card {
  background-color: rgb(222, 218, 215);
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}
.imagemReceita {
  width: 200px;
  height: 150px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-color: #007bff;
}
